*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.central{
    margin: auto; 
    padding-left:40%;
}
header {
    width: 100vw; 
    height: 400px;
    background-image: url("vcv.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
     }
     
 body article{
     margin: 10vh;
     
 }
 img{
     border-radius: 100px;
     height: 200px;
     width: 200px;

 }
   

 .bvn{
    color:rgb(243, 241, 248); 
    text-align: center; 
    padding-top:100px ; 
    font-size: 70px;   
}
.contenedor{
    width: 98%;
    margin: auto;
}
a{
    color:#333;
    
}
   
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    
}
.clearfix{
    clear: both;
}
.flx-cn{
    display: flex;

}  
.flx-tm{
 width: 350px;
 height: 250px;
 font-size: 24px;
}
    
